/.idea/
/venv/
venv/
/db.sqlite3
db.sqlite3
/mysite/__pycache__/
/blog/__pycache__/
/blog/migrations/__pycache__/
/jobs/__pycache__/
/jobs/migrations/__pycache__/
/users/__pycache__/
/users/migrations/__pycache__/
/media/profile_pics/*
!.keep
