{% extends "layout.html" %}
{% block body %}
    <form>
        <input class="index3" autocomplete="off" autofocus name="q" placeholder="Query" type="text">
        <ul class="searchOutput"></ul>
    </form>
        <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="/static/large.js"></script>
        <script>
            let input = document.querySelector('.index3');
            input.onkeyup = function(){
                let html = '';
                if(input.value){
                    for(word of WORDS2){
                        if(word.startsWith(input.value)){
                            html += '<li>' + word + '</li>';
                        }
                    }
                }
                document.querySelector('.searchOutput').innerHTML = html;
            };
        </script>

{% endblock %}