<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" charset="UTF-8">
    <title>Flask web devlopment</title>
    <link href="/static/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <nav class="nav navbar-default">
        <a href="/" class="navbar-brand">Flask</a>
        <ul class="nav navbar-nav">
            <li><a href="#">Home</a></li>
            <li><a href="/jquery">JQuery</a></li>
            <li><a href="/javascript">JavaScript</a></li>
        </ul>
    </nav>
    <br>
    <div class="container">
    {% block body %}{% endblock %}
    </div>
        <script> src="/static/jquery.min.js"</script>
        <script> src="/static/bootstrap.min.js"</script>
</body>
</html>