<html>
<head>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
    <title>Vote</title>
</head>
<body>
<div align="center">
    <h1>Poll</h1>
    <hr>
    <h2>Yes: <span id="yes">{{ votes["yes"] }}</span></h2>
    <h2>No: <span id="no">{{ votes["no"] }}</span></h2>
    <h2>Maybe: <span id="maybe">{{ votes["maybe"] }}</span></h2>
    <hr>
    <button data-vote="yes">Yes</button>
    <button data-vote="no">No</button>
    <button data-vote="maybe">Maybe</button>
</div>
</body>
</html>